# Supabase Configuration
VITE_SUPABASE_URL=https://lpmlereiikwgbmqzvirv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxwbWxlcmVpaWt3Z2JtcXp2aXJ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYwNzgwNDUsImV4cCI6MjA5MTY1NDA0NX0.ZHnToVsbJdxclvB6ygbaAq25ZkGPVbQzt8D53uMMWqk
